tr:nth-child(even) {
    background-color: #dddddd;
}

tr {
    white-space: pre;
}

#commits > tr > *, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    max-width: 100%;
}

.repoDropdown {
    display: inline-block;
}

.row {
    margin-top: 15px;
}

#diffTableCont {
    padding-left: 15px;
    padding-right: 15px;
}

#diffTable {
    table-layout: fixed;
    width: 100%;
    white-space: nowrap;
}

#diffTable td {
    overflow: hidden;
    text-overflow: ellipsis;
}

#diffTable > tr:not(.blankrow) {
    border-bottom: 1px solid #dddddd;
}

#headerEls {
    background-color: white;
    padding: 10px;
}